<html lang="en" class="">
    <head>
        <style type="text/css">
            #hbl_code,
            #olark-data,
            .olark-key {
                display: none !important;
            }

        </style>
        <style type="text/css">
            @media print {
                #habla_beta_container_do_not_rely_on_div_classes_or_names {
                    display: none !important;
                }
            }

        </style>
    </head>
    <body class="landing lp_a">
        <div class="container-fluid" id="header-section">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <header>
                            <hgroup>
                                <h1>
                                    <a href="/" title="Return to Home Page">
                                        <!-- <img alt="RecMe Inc" src="app/assests/images/14"> -->
                                        <%= image_tag('testpicture.jpg') %>
                                    </a>
                                </h1>
                                <h2 class="tel">
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <span class="telephone" rel="nofollow">1-800-REC-MELIVE</a>
                                    <span>24/7</span>
                                </h2>
                            </hgroup>
                        </header>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="col-md-12">
                        <section id="top-banner">
                            <div class="col-sm-3 col-sm-12 col-xs-8">
                                <div class="col-sm-3">
                                    <div class="feature1">
                                        <img src="http://a.espncdn.com/photo/2014/0918/nfl_a_ChancellorThomas_sk_600.jpg" alt="Football" style="width:304px;height:228px;" style="PADDING-RIGHT: 5px"></img>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature2">
                                    <img src="http://dailybruin.com/images/26842_web.sp.wvball.pica.jpg" alt="Volleyball" style="width:304px;height:228px;"></img>
                                </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="feature4">
                                <img src="http://www.collegescholarships.org/images/soccerscholarships.jpg" alt="Soccer" style="width:304px;height:228px;"></img>
                              </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="feature4">
                                    <img src="http://freetaxusashootout.com/wp-content/uploads/2015/11/MJ.jpg" alt="Basketball" style="width:304px;height:228px;"></img>
                                <h2>Online Registration</h2>
                                <p>Register online to your local sports center for games!</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container why-teampages">
            <div class="content-wrapper">
                <div class="col-lg-6 col-md-4">
                    <section id="why-teampages">
                        <h4>Why should you choose RecMe?</h4>
                        <ul>
                            <span class="glyphicon glyphicon-ok"></span>
                            <p>Social media app that allows a user to interact with other users and organizations while leaving real time descriptions!</p>
                            <span class="glyphicon glyphicon-ok"></span>
                            <p>Save time and money on communication</p>
                            <span class="glyphicon glyphicon-ok"></span>
                            <p>It takes the users location, allows them to view the sports events around them, and sign up --- all from one place</p>
                            <span class="glyphicon glyphicon-ok"></span>
                            <p>We welcome athletes of all ages! There is something for everyone!</p>
                        </ul>

                    </section>
                </div>
                <div class="col-lg-6 col-md-8">
                    <section id="fillable-form">
                        <div id="form">
                            <a class="cta2" href="#form">
                                <hgroup>

                                    <!-- <img alt="downward arrow" src="/assets/x/lp/cta_arrow-4994a588331ba15eaa9d1d13e37a62c0.png"> -->
                                </hgroup>
                            </a>

                        </div>


                    </section>
                </div>
            </div>
        </div>
    </div>
