<h1>New Game</h1>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATk7x0W5Fr3x3xyS6HGA47DWLIzZ0GbO8&libraries=places"></script>
<%= render 'form', post: @post %>

<!-- <%# render 'posts',  %> -->
