h1 {
  font-style: italic;
  text-align: center;

}

.row  {
  background-color: #1B75BB;
}

.telephone{
  color: white;
}

#im {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("https://images5.alphacoders.com/691/691194.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/*#user_header{
  text-align: center;
  font-size: 28px;
}*/

.userlogin{
  /*float:"right"*/
}

#user_header{
  padding-top: 16px;
  height: 50px;
}
