
body{
  background-color:#1B75BB;
}
h1 {

  text-align: center;

}

/*.row  {
  background-color: #1B75BB;
}*/

.telephone,.feature4,#why{
  color: yellow;
  font-size: 30px;

}

.blue{
  color:yellow;

}



#img  {
  border: 2px;
}

.userlogin{
  /*float:"right"*/
}

#user_header{
  padding-top: 16px;
  height: 50px;
}

.why{

}

li#chris {
    display: block;
}

li:before#chris {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 30px;
    float: left;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: 10px;
    color: yellow;
}
