<nav class="navbar navbar" style="background-color:yellow;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand" style="font-size:30px;">RecMe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a style="font-size:22px;" data-target="#myModal" class="btn btn-lg" data-toggle="modal">Contact<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a style="font-size:22px;" data-target="#aboutus" data-toggle="modal" class="btn btn-lg">About Us</a>
                </li>
                <li>
                    <a style="font-size:22px" href="/posts">All Postings</a>
                </li>
                <li>
                    <div id="user_header">
                        <% if current_user %>
                        <text style="font-size:20px;">Logged in as:</text>
                        &nbsp;
                        <text style="font-size:25px; color:#000033"><%= current_user.name %>
                            <span class="glyphicon glyphicon-user"></span>
                        </text>
                        &nbsp;
                        <text style="font-size:20px;">
                            <%= link_to "Log Out", logout_path %></text>
                    <% else %>
                        <text style="font-size:22px"><%= link_to "Sign Up", signup_path%></text>
                        <text style="font-size:20px">or</text>
                        <text style="font-size:22px"><%= link_to "Log In", login_path %></text>
                        <% end %>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Contact Us!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-6 text-center">

                                <h1>Nigell King</h1>

                                <a href="mailto:NigellKing@gmail.com">Email</a>
                                <a
                                    href="https://www.linkedin.com/in/nigell-king-36b92493?authType=NAME_SEARCH&authToken=W66E&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A333732611%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1481485379659%2Ctas%3Anigel">LinkedIn</a>
                                <a href="https://github.com/nking2010">GitHub</a>

                            </div>

                            <div class="col-md-6 text-center">
                                <h1>John Arevalo</h1>

                                <a href="mailto:John.Arevalo11@gmail.com">Email</a>
                                <a
                                    href="https://www.linkedin.com/in/john-arevalo-01743b129?authType=NAME_SEARCH&authToken=DpV4&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A529595731%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1481485443772%2Ctas%3AJohn%20A">LinkedIn</a>
                                <a href="https://github.com/Jarevalo92">GitHub</a>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Thanks!</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="aboutus" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">About us</h4>
                    </div>
                    <div class="modal-body">
                      <div class ="row">
                        <div class="col-md-6 content-align">
                          <nigell>Nigell and John are junior developers based out of Fort Lauderdale, FL. They attended Wyncode Academy which include a Full Stack Development. HTML, CSS, JavaScript, Ruby, Ruby on Rails, and databases with SQL. Our curriculum also includes workflow management / version control, application deployment, and AGILE team dynamics.</nigell>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
